<div class="divider"></div>
<div class="center">
    <h5>Java</h5>
</div>
<div class="divider"></div>
<div class="center">
    <h5>Angular</h5>
</div>
<div class="divider"></div>
<div class="center">
    <h5>Python</h5>
</div>
<div class="divider"></div>
<div class="center">
    <h5>C</h5>
</div>
<div class="divider"></div>
<div class="center">
    <h5>Matlab</h5>
</div>
<div class="divider"></div>
<div class="center">
    <h5>PostgreSQL</h5>
</div>
<div class="divider"></div>
<div class="center">
    <h5>Hibernate</h5>
</div>
<div class="divider"></div>
<div class="center">
    <h5>Git, Jenkins, Jira, Confluence</h5>
</div>