<nav class="blue-grey">
  <a class='dropdown-trigger ' href='#' data-target='dropdown1'>Menu</a>
  <a href="#" class="brand-logo center">Bruno Benoit</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content '>
    <li><a href="formation" class="black-text">Formations</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="experience-pro" class="black-text">Expériences professionnelles</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="projet-perso" class="black-text">Projets</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="competence" class="black-text">Compétences</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>