<nav>
  <a class='dropdown-trigger ' href='#' data-target='dropdown1'>Menu</a>
  <a href="#" class="brand-logo center">Bruno Benoit</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="formation">Formations</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="experience-pro">Expériences professionnelles</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="projet-perso">Projets</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="competence">Compétences</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>