<div class="container">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">school</i>Ecole d'ingénieurs</div>
            <div class="collapsible-body">
                <p>2019 - 2022 : Formation d'ingénieur en Systèmes Numériques</p>
                <p>Ecole Nationale Supérieure d’Electricité et de Mécanique, Nancy</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">school</i>Classes Préparatoires aux
                Grandes Ecoles
            </div>
            <div class="collapsible-body">
                <p>2019 - 2019 : Classes Préparatoires aux Grandes Ecoles, Physique Chimie</p>
                <p>Lycée Pierre d'Ailly, Compiègne</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">school</i>Baccalauréat</div>
            <div class="collapsible-body">
                <p>2016 : Baccalauréat scientifique, Sciences et Vie de la Terre, Section Européenne</p>
                <p>Lycée Cassini, Clermont</p>
            </div>
        </li>
    </ul>
</div>