<div class="row">

    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h2 class="header">Application pokémon en Angular</h2>
            <div class="card-content">
                <p>Création d'une application Angular from scratch</p>
                <p>Développement d'un système de navigation entre composants</p>
                <p>Ajout de formulaires template-driven et reactive</p>
                <p>Utilisation de requêtes HTTP</p>
                <p>Mise en place d'un système d'authentification</p>
                <p>Déploiement d'une application Angular en production</p>
                <a href="https://ng-pokemon-app-dda4d.firebaseapp.com">Lien vers l'application</a>
            </div>
        </div>
    </div>

    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey lighten-4">
            <h2 class="header">Pac-Man-like en Java</h2>
            <div class="card-content">
                <p>Création d'un Pac-Man-like en méthodologie Scrum</p>
                <p>Utilisation de thread</p>
                <p>Mise en place d'une interface graphique</p>
                <p>Rédaction de documentation technique (diagrammes UML)</p>
            </div>
        </div>
    </div>

    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h2 class="header">Application de résolution de sudoku en C</h2>
            <div class="card-content">
                <p>Création d'une application de résolution de grilles de sudoku</p>
                <p>Lecture et résolution de grilles à partir de fichier texte</p>
                <p>Résolution par brute-force</p>
                <p>Résolution par backtracking</p>
                <p>Développement d'une version multithread</p>
                <p>Développement d'une version professionnelle client-serveur</p>
            </div>
        </div>
    </div>

    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey lighten-4">
            <h2 class="header">Simulation d'un procédé chimique sur Matlab</h2>
            <div class="card-content">
                <p>Conception d'un simulateur de processus d'extraction liquide-liquide</p>
                <p>Résolution d'équations différentielles</p>
                <p>Production de graphiques permettant l'analyse du système</p>
                <p>Détection et localisation d'anomalies de fonctionnement </p>
            </div>
        </div>
    </div>

    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h2 class="header">Autres projets</h2>
            <div class="card-content">
                <p>Reconnaissance de panneaux de signalisation à partir de vidéos et d'images en Java à l'aide d'OpenCV
                </p>
                <p>Reconnaissance de feuilles d'arbre sur Matlab</p>
            </div>
        </div>
    </div>

</div>